@use 'sass:math';
@use 'variables';
@use 'abstracts/functions';

:root {
  --container-width: #{functions.toRem(variables.$container-width + variables.$container-padding-x * 2)};
  --container-padding-x: #{functions.toRem(variables.$container-padding-x)};

  --body-text-color: #{variables.$body-text-color};
  --body-bg-color: #{variables.$body-bg-color};
  --body-font-family: '#{variables.$body-font-family}';
  --body-font-weight: #{variables.$body-font-weight};
  --body-font-size: #{functions.clamp1(variables.$body-font-size-min, variables.$body-font-size-max)};
  --body-line-height: #{variables.$body-line-height};
}
