// Скрываем элемент
%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  // Улучшенные стили для фокуса и активности
  &:not(:focus):not(:active) {
    position: absolute !important;
  }
}

// Отображаем элемент при фокусе или активности
%visually-visible {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  white-space: normal;
  clip: auto;
  overflow: visible;
}

%margin-block-0 {
  margin-block: 0;
}

%margin-inline-0 {
  margin-inline: 0;
}

%margin-0 {
  @extend %margin-block-0;
  @extend %margin-inline-0;
}

%min-h100 {
  min-height: 100%;
}

// Упрощаем работу с изображениями
%img {
  display: block;
  max-width: 100%;
  height: auto;
  // Поддержка lazy loading
  &[loading='lazy'] {
    transition: opacity 0.3s;
  }
}
