@use 'sass:color';

// НЕ УДАЛЯТЬ используются в "_functions.scss"
// для расчета  toRem() и clamp1($min, $max)
$BASE_FONT_SIZE: 16;

$VIEWPORT-MAX: 1920;
$VIEWPORT-MIN: 360;

$font-sans-serif: 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', sans-serif;
$font-serif: 'Georgia', 'Times New Roman', 'Garamond', 'Palatino', 'Noto Serif', serif;

// Размер контейнера
$container-width: 1300;
$container-padding-x: 16;

// Базовые настройки для normalize.scss
$body-text-color: #050f27;
$body-bg-color: #fff;

$body-font-family: 'Satoshi';

// Указать одинаковые размеры шрифта если не предпологается исппользования clamp($min, $max)
$body-font-size-max: 24;
$body-font-size-min: 24;

$body-font-weight: 400;
$body-line-height: 1.5;

